<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Mac.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>Watch.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>iOS.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>DA432EF723C9DEF4009202D1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DA432EFA23C9DEF4009202D1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DAA7AF5323C5CFAA00B829D7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DACB8E9C23BB782000ADBCB2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DACB8EAA23BB783D00ADBCB2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DACB8EB923BB786E00ADBCB2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
